In [71]:
import pandas as pd 
import os

In [83]:
# Define the directory containing the CSV files
csv_directory = "./PassengerVehicle_Stats"

# Get all CSV file paths in the directory
csv_files = [os.path.join(csv_directory, file) for file in os.listdir(csv_directory) if file.endswith('.csv')]

# Load all CSV files into a list
dataframes = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames into a single DataFrame
vehicles_df = pd.concat(dataframes, ignore_index=True)

In [84]:
print(vehicles_df.head())

   Unnamed: 0  Public Vehicle Number    Status Vehicle Make Vehicle Model  \
0        1286                  12009  RESERVED    CHEVROLET       EXPRESS
1        2095                  12248  INACTIVE     MERCEDES      SPRINTER
2        7950                  13527  INACTIVE     VAN HOOL         TD925
3        8700                  12248  INACTIVE     MERCEDES      SPRINTER
4        9359                  13528  INACTIVE     VAN HOOL         TD925

   Vehicle Model Year Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0              2014.0         BLACK          Bio-Diesel                     N
1              2010.0        SILVER          Bio-Diesel                     N
2              2008.0           RED          Bio-Diesel                     N
3              2010.0        SILVER          Bio-Diesel                     N
4              2008.0           RED          Bio-Diesel                     N

                              Company Name                 Address     City  \
0                CHICAGO PRIVATE TOURS LLC  4567 S. OAKENWALD AVE.  CHICAGO
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
2                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
4                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO

  State  ZIP Code Taxi Affiliation Taxi Medallion License Management   \
0    IL   60653.0              NaN                                NaN
1    IL   60640.0              NaN                                NaN
2    IL   60609.0              NaN                                NaN
3    IL   60640.0              NaN                                NaN
4    IL   60609.0              NaN                                NaN

                  Record ID
0  12009Charter Sightseeing
1  12248Charter Sightseeing
2  13527Charter Sightseeing
3  12248Charter Sightseeing
4  13528Charter Sightseeing

In [85]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66408 entries, 0 to 66407
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          66408 non-null  int64
 1   Public Vehicle Number               66408 non-null  int64
 2   Status                              66408 non-null  object
 3   Vehicle Make                        58740 non-null  object
 4   Vehicle Model                       58556 non-null  object
 5   Vehicle Model Year                  58640 non-null  float64
 6   Vehicle Color                       58464 non-null  object
 7   Vehicle Fuel Source                 66408 non-null  object
 8   Wheelchair Accessible               66408 non-null  object
 9   Company Name                        66408 non-null  object
 10  Address                             59264 non-null  object
 11  City                                59264 non-null  object
 12  State                               59264 non-null  object
 13  ZIP Code                            59264 non-null  float64
 14  Taxi Affiliation                    29392 non-null  object
 15  Taxi Medallion License Management   29284 non-null  object
 16  Record ID                           66408 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 8.6+ MB

In [86]:
# Check for null values
print(vehicles_df.isnull().sum())

Unnamed: 0                                0
Public Vehicle Number                     0
Status                                    0
Vehicle Make                           7668
Vehicle Model                          7852
Vehicle Model Year                     7768
Vehicle Color                          7944
Vehicle Fuel Source                       0
Wheelchair Accessible                     0
Company Name                              0
Address                                7144
City                                   7144
State                                  7144
ZIP Code                               7144
Taxi Affiliation                      37016
Taxi Medallion License Management     37124
Record ID                                 0
dtype: int64

In [87]:
# Check for duplicates
print(vehicles_df.duplicated().sum())

49806

In [89]:
# Remove duplicates based on the "Public Vehicle Number" column
vehicles_df = vehicles_df.drop_duplicates(subset='Public Vehicle Number', keep='first')

In [90]:
# Reset the index after dropping duplicates
vehicles_df = vehicles_df.reset_index(drop=True)

In [91]:
# Check for duplicates
print(vehicles_df.duplicated().sum())

0

In [92]:
vehicles_df.shape

(14473, 17)

In [80]:
# Remove rows where 'Vehicle Model Year' is less than 1900
vehicles_df = vehicles_df[vehicles_df['Vehicle Model Year'] >= 1900]

# Reset the index
vehicles_df = vehicles_df.reset_index(drop=True)

In [81]:
vehicles_df.shape

(12652, 17)

In [82]:
desktop_path = r'C:\Users\ISURU\Desktop\python project\output_file.csv'  # Replace <Your_Username>
vehicles_df.to_csv(desktop_path, index=False)
print(f"File saved to: {desktop_path}")

File saved to: C:\Users\ISURU\Desktop\python project\output_file.csv