In [2]:
import pandas as pd 
import os

1. Reading and combining data
    Load all 9 CSV files into a list.
    Concatenate the files into a single DataFrame, named vehicles_df.

In [3]:
folder_path= './PassengerVehicle_Stats'
dfs=[]
files= [f for f in os.listdir(folder_path) if f.endswith('.csv')]

for file in files:
    file_path = os.path.join(folder_path,file)
    df1 = pd.read_csv(file_path)
    dfs.append(df1)

    Concatenate the files into a single DataFrame, named vehicles_df.

In [4]:
combine_df = pd.concat(dfs, ignore_index=True)
combine_df.to_csv('./vehicles_df.csv', index= False)

vehicles_df = pd.read_csv('vehicles_df.csv')

2. Initial data exploration and cleaning
    Examine the DataFrame structure, including its features and data types.

In [5]:
print(vehicles_df.info())
print(vehicles_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66408 entries, 0 to 66407
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          66408 non-null  int64
 1   Public Vehicle Number               66408 non-null  int64
 2   Status                              66408 non-null  object
 3   Vehicle Make                        58740 non-null  object
 4   Vehicle Model                       58556 non-null  object
 5   Vehicle Model Year                  58640 non-null  float64
 6   Vehicle Color                       58464 non-null  object
 7   Vehicle Fuel Source                 66408 non-null  object
 8   Wheelchair Accessible               66408 non-null  object
 9   Company Name                        66408 non-null  object
 10  Address                             59264 non-null  object
 11  City                                59264 non-null  object
 12  State                               59264 non-null  object
 13  ZIP Code                            59264 non-null  float64
 14  Taxi Affiliation                    29392 non-null  object
 15  Taxi Medallion License Management   29284 non-null  object
 16  Record ID                           66408 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 8.6+ MB
None
   Unnamed: 0  Public Vehicle Number    Status Vehicle Make Vehicle Model  \
0        1286                  12009  RESERVED    CHEVROLET       EXPRESS
1        2095                  12248  INACTIVE     MERCEDES      SPRINTER
2        7950                  13527  INACTIVE     VAN HOOL         TD925
3        8700                  12248  INACTIVE     MERCEDES      SPRINTER
4        9359                  13528  INACTIVE     VAN HOOL         TD925

   Vehicle Model Year Vehicle Color Vehicle Fuel Source Wheelchair Accessible  \
0              2014.0         BLACK          Bio-Diesel                     N
1              2010.0        SILVER          Bio-Diesel                     N
2              2008.0           RED          Bio-Diesel                     N
3              2010.0        SILVER          Bio-Diesel                     N
4              2008.0           RED          Bio-Diesel                     N

                              Company Name                 Address     City  \
0                CHICAGO PRIVATE TOURS LLC  4567 S. OAKENWALD AVE.  CHICAGO
1  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
2                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO
3  O'HARE-MIDWAY LIMOUSINE SERVICE INC # 2       4610 N. CLARK ST.  CHICAGO
4                 TRT TRANSPORTATION, INC.     4400 S. RACINE AVE.  CHICAGO

  State  ZIP Code Taxi Affiliation Taxi Medallion License Management   \
0    IL   60653.0              NaN                                NaN
1    IL   60640.0              NaN                                NaN
2    IL   60609.0              NaN                                NaN
3    IL   60640.0              NaN                                NaN
4    IL   60609.0              NaN                                NaN

                  Record ID
0  12009Charter Sightseeing
1  12248Charter Sightseeing
2  13527Charter Sightseeing
3  12248Charter Sightseeing
4  13528Charter Sightseeing

Remove any duplicate records.

In [6]:
vehicles_df_cleaned = vehicles_df.drop_duplicates(subset='Public Vehicle Number', keep='first')

Remove null records only if it is required. Provide reasons for your decision.

In [7]:
print(vehicles_df.isnull().sum())
vehicles_df_cleaned.dropna(subset=['Vehicle Make', 'Vehicle Model', 'Taxi Affiliation'], inplace=True)

Unnamed: 0                                0
Public Vehicle Number                     0
Status                                    0
Vehicle Make                           7668
Vehicle Model                          7852
Vehicle Model Year                     7768
Vehicle Color                          7944
Vehicle Fuel Source                       0
Wheelchair Accessible                     0
Company Name                              0
Address                                7144
City                                   7144
State                                  7144
ZIP Code                               7144
Taxi Affiliation                      37016
Taxi Medallion License Management     37124
Record ID                                 0
dtype: int64

C:\Users\DELL\AppData\Local\Temp\ipykernel_1064\1287661604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df_cleaned.dropna(subset=['Vehicle Make', 'Vehicle Model', 'Taxi Affiliation'], inplace=True)

In [8]:
vehicles_df_cleaned.dropna(subset=['Vehicle Make', 'Vehicle Model', 'Taxi Affiliation'], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_1064\1922571449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df_cleaned.dropna(subset=['Vehicle Make', 'Vehicle Model', 'Taxi Affiliation'], inplace=True)

3. Handle outliers and missing values
    Perform outlier removal and missing value imputation only if necessary.
    State the reason for any such actions (you can state the reasons within the notebook).

4. Adding new columns to the Dataframe
 Vehicle Type
    A string column indicating the type of the public passenger vehicle.
    Hint: Extract this information from the “Record ID” column. It is a combination of vehicle type and the public vehicle number.

In [9]:
def categorize_vehicle_type(record_id):
    if 'Charter' in record_id:
        return 'Charter'
    elif 'Medicar' in record_id:
        return 'Medicar'
    elif 'Taxi' in record_id:
        return 'Taxi'
    else:
        return 'Other'

# Apply the function to create a new column for Vehicle Type
vehicles_df_cleaned['Vehicle Type'] = vehicles_df_cleaned['Record ID'].apply(categorize_vehicle_type)

C:\Users\DELL\AppData\Local\Temp\ipykernel_1064\528675509.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df_cleaned['Vehicle Type'] = vehicles_df_cleaned['Record ID'].apply(categorize_vehicle_type)

5. Column Removal
    Drop the columns “Address” and “Public Vehicle Number”.

In [10]:
vehicles_df_cleaned.drop(columns=['Address', 'Public Vehicle Number'], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_1064\194788138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df_cleaned.drop(columns=['Address', 'Public Vehicle Number'], inplace=True)

In [11]:
print(vehicles_df_cleaned.info())
print(vehicles_df_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
Index: 6381 entries, 36 to 16413
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          6381 non-null   int64
 1   Status                              6381 non-null   object
 2   Vehicle Make                        6381 non-null   object
 3   Vehicle Model                       6381 non-null   object
 4   Vehicle Model Year                  6381 non-null   float64
 5   Vehicle Color                       6381 non-null   object
 6   Vehicle Fuel Source                 6381 non-null   object
 7   Wheelchair Accessible               6381 non-null   object
 8   Company Name                        6381 non-null   object
 9   City                                6381 non-null   object
 10  State                               6381 non-null   object
 11  ZIP Code                            6381 non-null   float64
 12  Taxi Affiliation                    6381 non-null   object
 13  Taxi Medallion License Management   6354 non-null   object
 14  Record ID                           6381 non-null   object
 15  Vehicle Type                        6381 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 847.5+ KB
None
    Unnamed: 0     Status Vehicle Make Vehicle Model  Vehicle Model Year  \
36         959  VIOLATION          VPG          MV-1              2012.0
37        1230  VIOLATION          VPG          MV-1              2012.0
38        1307  VIOLATION          VPG          MV-1              2012.0
40        1591    REVOKED          VPG          MV-1              2011.0
41        1613    REVOKED        DODGE       CARAVAN              2011.0

   Vehicle Color     Vehicle Fuel Source Wheelchair Accessible  \
36         WHITE  Compressed Natural Gas                     N
37         WHITE  Compressed Natural Gas                     N
38         WHITE  Compressed Natural Gas                     Y
40         WHITE  Compressed Natural Gas                     N
41         WHITE  Compressed Natural Gas                     N

                        Company Name     City State  ZIP Code  \
36  MEDALLION FUNDING CHICAGO CORP V  CHICAGO    IL   60616.0
37                      AMBROSLY INC  CHICAGO    IL   60641.0
38                GEM AND R CAB CORP  CHICAGO    IL   60616.0
40     DESIREE AND MONIQUE CAB CORP.  CHICAGO    IL   60641.0
41               WEST END TAXI CORP.  CHICAGO    IL   60656.0

       Taxi Affiliation Taxi Medallion License Management  Record ID  \
36  EXPIRED AFFILIATION                      Owner Manager   256Taxi
37       DIS-AFFILIATED                      Owner Manager  1616Taxi
38  EXPIRED AFFILIATION                      Owner Manager  4796Taxi
40       DIS-AFFILIATED                      Owner Manager  5160Taxi
41       DIS-AFFILIATED                      Owner Manager  1803Taxi

   Vehicle Type
36         Taxi
37         Taxi
38         Taxi
40         Taxi
41         Taxi

In [12]:
vehicles_df_cleaned.nunique()

Unnamed: 0                            6381
Status                                   6
Vehicle Make                            22
Vehicle Model                           79
Vehicle Model Year                      19
Vehicle Color                           47
Vehicle Fuel Source                      5
Wheelchair Accessible                    2
Company Name                          4100
City                                     6
State                                    1
ZIP Code                                52
Taxi Affiliation                        24
Taxi Medallion License Management       10
Record ID                             6381
Vehicle Type                             2
dtype: int64

In [13]:
vehicles_df_cleaned.shape

(6381, 16)